<footer>
    <div class="row">
        <div class="col-lg-5 col-md-4">
            <div class="logo">
                <a href=""><img src="./assets/img/logo.png" alt=""></a>
                <p>Công ty TNHH truyền thông Goodcom Việt Nam</p>
            </div>
            <div class="info">
                <p>Địa chỉ: Tầng 3 - Toà nhà Housing - 299 Trung Kính,
                    Cầu Giấy, Hà Nội</p>
                <p>Số điện thoại: <a href="tel:02462670599">02462670599</a></p>
                <p>Fax: 02462670599</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <h4>Usefull Links</h4>
            <ul class="menu_link">
                <li><a href="" title="Giới thiệu">Giới thiệu</a></li>
                <li><a href="" title="Dịch vụ">Dịch vụ</a></li>
                <li><a href="" title="Báo giá">Báo giá</a></li>
                <li><a href="" title="Case Study">Case Study</a></li>
                <li><a href="" title="Tuyển dụng">Tuyển dụng</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-5">
            <div class="fanpage">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGoodcommediavn%2F&tabs=timeline&width=390&height=270&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="390" height="270" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</footer>