<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="logo" href="/"><img src="./assets/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav ml-auto">
                <li><a href="http://localhost:8000/gioi-thieu.html" title="Giới thiệu">Giới thiệu</a></li>
                <li>
                    <a href="" title="Dịch vụ">Dịch vụ</a>
                    <ul class="sub-menu">
                        <li><a href="" title="Booking">Booking</a></li>
                        <li><a href="" title="Tư vấn truyền thông">Tư vấn truyền thông</a></li>
                        <li><a href="" title="Social Media">Social Media</a></li>
                        <li><a href="" title="Hợp tác phát triển ">Hợp tác phát triển </a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:8000/bao-gia.html" title="Báo giá">Báo giá</a></li>
                <li><a href="" title="Case Study">Case Study</a></li>
                <li><a href="http://localhost:8000/tin-tuc.html" title="Tin tức">Tin tức</a></li>
                <li><a href="http://localhost:8000/lien-he.html" title="Liên hệ">Liên hệ</a></li>
            </ul>
            <div class="language flex">
                <a href="javascript:;" title="" class="active">VI</a>
                <a href="javascript:;" title="">EN</a>
            </div>
            <a href="javascript:;" class="close"></a>
        </div>
    </nav>
    <div class="navbar-modal"></div>
</header>