<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.quotation_list').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            dots: false,
            arrows: true,
            responsive: [
                {
                    breakpoint: 860,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
        $('.logo_list').slick({
            centerMode: false,
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            dots: false,
            arrows: true,
            responsive: [
                {
                    breakpoint: 760,
                    settings: {
                        slidesToShow: 3
                    }
                }
            ]
        });
        $('.kols_list').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            dots: false,
            arrows: true,
            responsive: [
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2
                    }
                }
            ]
        });

    });
</script>
</body>
</html>