<main>
    <div class="contact flex pr">
        <div class="contact_info">
            <h4 class="category_title">Contact us</h4>
            <h1 class="page_title">Get In Touch If You <br> Need Help With A Project</h1>
            <ul class="info_list">
                <li>
                    <i class="icon icon-address"></i>
                    <p>
                        <span>Address:</span>
                        Tầng 3 - Toà nhà Housing - 299 Trung Kính,
                        Cầu Giấy, Hà Nội
                    </p>
                </li>
                <li>
                    <i class="icon icon-phone"></i>
                    <p>
                        <span>Contact:</span>
                        <a href="tel:02462670599">02462670599</a>
                    </p>
                </li>
                <li>
                    <i class="icon icon-email"></i>
                    <p>
                        <span>Email:</span>
                        <a href="mailto:goodcom@gmail.com">mailto:goodcom@gmail.com</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="contact_banner">
            <img src="./assets/img/banner_contact.png" alt="">
        </div>
    </div>
    <div class="feedback">
        <h4 class="category_title">Feedback Form</h4>
        <h2 class="des_title">We Love To Hear Your Feedback</h2>
        <form action="" method="" class="feedback_form">
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="number" name="phone" placeholder="Phone number" required>
            </div>
            <div class="form-group">
                <textarea placeholder="Your messenger here" required></textarea>
            </div>
            <button type="submit" class="btn_submit flex-center">SUMBIT</button>
        </form>
    </div>
</main>