<main>
    <section class="banner pr">
        <img src="./assets/img/banner1.png" alt="">
        <div class="banner_content">
            <h1 class="js-animation fadeup">Goodcom Media</h1>
            <p class="js-animation fadeup">xây dựng những bản sắc riêng</p>
        </div>
    </section>
    <section class="intro container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="content js-animation fadeup">
                    <h4>Giới thiệu Goodcom media</h4>
                    <p>Goodcom gia nhập ngành truyền thông với mong muốn xây dựng những bản sắc riêng biệt, tạo dựng chỗ đứng và phát triển trên cơ sở thỏa mãn nhu cầu khách hàng. Goodcom hiện nay đã là một phần của ngành truyền thông Việt Nam.</p>
                    <a href="" title="Tìm hiểu thêm" class="btn_more flex-center">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul class="statistical flex js-animation fadein">
                    <li>
                        <i class="icon icon-medal"></i>
                        <h5>1600</h5>
                        <span>Active users</span>
                    </li>
                    <li>
                        <i class="icon icon-headphone"></i>
                        <h5>2500</h5>
                        <span>Global Client</span>
                    </li>
                    <li>
                        <i class="icon icon-cup"></i>
                        <h5>2150</h5>
                        <span>Win award</span>
                    </li>
                    <li>
                        <i class="icon icon-user"></i>
                        <h5>2150</h5>
                        <span>Clients satisfaction</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="service container-fluid mt220">
        <h2 class="title line">CÁC DỊCH VỤ</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-6">
                <a href="" class="img-thumb"><img src="./assets/img/img-sr1.jpg" alt=""></a>
                <h3><a href="">General Builders</a></h3>
                <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                <a href="" title="" class="btn_more">More</a>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <a href="" class="img-thumb"><img src="./assets/img/img-sr2.jpg" alt=""></a>
                <h3><a href="">General Builders</a></h3>
                <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                <a href="" title="" class="btn_more">More</a>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <a href="" class="img-thumb"><img src="./assets/img/img-sr1.jpg" alt=""></a>
                <h3><a href="">General Builders</a></h3>
                <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                <a href="" title="" class="btn_more">More</a>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <a href="" class="img-thumb"><img src="./assets/img/img-sr2.jpg" alt=""></a>
                <h3><a href="">General Builders</a></h3>
                <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                <a href="" title="" class="btn_more">More</a>
            </div>
        </div>
    </section>
    <section class="quotation container-fluid mt220 js-animation fadein">
        <h2 class="title">Báo giá</h2>
        <div class="quotation_wrapper">
            <div class="quotation_list flex">
                <article class="post">
                    <div class="content">
                        <h3>BROCHURE</h3>
                        <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                        <a href="javascript:;" title="Download" class="btn_download flex-center">Download</a>
                    </div>
                </article>
                <article class="post">
                    <div class="content">
                        <h3>BROCHURE</h3>
                        <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                        <a href="javascript:;" title="Download" class="btn_download flex-center">Download</a>
                    </div>
                </article>
                <article class="post">
                    <div class="content">
                        <h3>BROCHURE</h3>
                        <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                        <a href="javascript:;" title="Download" class="btn_download flex-center">Download</a>
                    </div>
                </article>
                <article class="post">
                    <div class="content">
                        <h3>BROCHURE</h3>
                        <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                        <a href="javascript:;" title="Download" class="btn_download flex-center">Download</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="studies container-fluid mt220">
        <h2 class="title">CASE STUDIES</h2>
        <div class="studies_list flex">
            <article>
                <a href="" class="img-thumb"><img src="./assets/img/img-cs1.jpg" alt=""></a>
                <h3><a href="">Case Study</a></h3>
                <p>Đối với những người mắc bệnh về đường hô hấp, nói chuyện bình thường cũng là việc khó khăn. Thế nhưng, chiến dịch “Breathless Choir” của thương hiệu Philips đã giúp những bệnh nhân này có thể sử dụng giọng nói của mình thực hiện việc mà trước đây họ chưa bao giờ dám thử: ca hát.</p>
            </article>
            <article>
                <a href="" class="img-thumb"><img src="./assets/img/img-cs2.jpg" alt=""></a>
                <h3><a href="">Case Study</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus</p>
            </article>
            <article>
                <a href="" class="img-thumb"><img src="./assets/img/img-cs3.jpg" alt=""></a>
                <h3><a href="">Case Study</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus</p>
            </article>
            <article>
                <a href="" class="img-thumb"><img src="./assets/img/img-cs4.jpg" alt=""></a>
                <h3><a href="">Case Study</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus</p>
            </article>
        </div>
        <a href="" class="btn_viewmore">Xem thêm</a>
    </section>
    <section class="logo_slider container js-animation fadein">
        <ul class="logo_list">
            <li><a href="javascript:;"><img src="./assets/img/logo1.png" alt=""></a></li>
            <li><a href="javascript:;"><img src="./assets/img/logo1.png" alt=""></a></li>
            <li><a href="javascript:;"><img src="./assets/img/logo1.png" alt=""></a></li>
            <li><a href="javascript:;"><img src="./assets/img/logo1.png" alt=""></a></li>
            <li><a href="javascript:;"><img src="./assets/img/logo1.png" alt=""></a></li>
        </ul>
    </section>
    <section class="recruitment flex pr js-animation fadein">
        <div class="recruitment_banner">
            <img src="./assets/img/img-banner1.jpg" alt="">
        </div>
        <div class="recruitment_content">
            <h4>Tin tuyển dụng</h4>
            <ul class="recruitment_list">
                <li><a href="" title="">Tuyển dụng nhân viên kinh doanh</a></li>
                <li><a href="" title="">Tuyển dụng nhân viên Content Marketing</a></li>
                <li><a href="" title="">Tuyển dụng nhân viên Thiết kế đồ họa</a></li>
            </ul>
            <a href="" title="" class="btn_viewmore">Xem thêm</a>
        </div>
    </section>
    <section class="news container-news mt220">
        <h2 class="title line">TIN TỨC MỚI</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-6">
                <a href="" class="img-thumb"><img src="./assets/img/img-sr1.jpg" alt=""></a>
                <h3><a href="">General Builders</a></h3>
                <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="" class="img-thumb"><img src="./assets/img/img-sr2.jpg" alt=""></a>
                <h3><a href="">General Builders</a></h3>
                <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
                <a href="" class="img-thumb"><img src="./assets/img/img-sr1.jpg" alt=""></a>
                <h3><a href="">General Builders</a></h3>
                <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
            </div>
        </div>
        <a href="" title="" class="btn_viewmore">Xem thêm</a>
    </section>
    <section class="kols container-fluid mt220 js-animation fadein">
        <h2 class="title">KOLs</h2>
        <ul class="kols_list">
            <li>
                <div class="img-thumb"><img src="./assets/img/kol1.jpg" alt=""></div>
                <h4>Daniel Jain</h4>
                <span>Marketing Executive</span>
            </li>
            <li>
                <div class="img-thumb"><img src="./assets/img/kol2.jpg" alt=""></div>
                <h4>Daniel Jain</h4>
                <span>Marketing Executive</span>
            </li>
            <li>
                <div class="img-thumb"><img src="./assets/img/kol3.jpg" alt=""></div>
                <h4>Daniel Jain</h4>
                <span>Marketing Executive</span>
            </li>
            <li>
                <div class="img-thumb"><img src="./assets/img/kol3.jpg" alt=""></div>
                <h4>Daniel Jain</h4>
                <span>Marketing Executive</span>
            </li>
        </ul>
    </section>
    <div class="modal fade" id="popup-quotation">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <div class="box-img">
                    <img src="./assets/img/bang-gia-ghe-sofa.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</main>