<main>
    <section class="banner pr">
        <img src="./assets/img/banner1.png" alt="">
        <div class="banner_content">
            <h1>Goodcom Media</h1>
            <p>xây dựng những bản sắc riêng</p>
        </div>
    </section>
    <section class="intro container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="content">
                    <h4>Giới thiệu Goodcom media</h4>
                    <p>Goodcom gia nhập ngành truyền thông với mong muốn xây dựng những bản sắc riêng biệt, tạo dựng chỗ đứng và phát triển trên cơ sở thỏa mãn nhu cầu khách hàng. Goodcom hiện nay đã là một phần của ngành truyền thông Việt Nam.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul class="statistical flex">
                    <li>
                        <i class="icon icon-medal"></i>
                        <h5>1600</h5>
                        <span>Active users</span>
                    </li>
                    <li>
                        <i class="icon icon-headphone"></i>
                        <h5>2500</h5>
                        <span>Global Client</span>
                    </li>
                    <li>
                        <i class="icon icon-cup"></i>
                        <h5>2150</h5>
                        <span>Win award</span>
                    </li>
                    <li>
                        <i class="icon icon-user"></i>
                        <h5>2150</h5>
                        <span>Clients satisfaction</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="vision container-fluid flex mt150">
        <h2 class="title">Tầm Nhìn Chiến Lược</h2>
        <div class="vision_banner">
            <img src="./assets/img/banner-vision.jpg" alt="">
        </div>
        <div class="vision_content">
            <p>Goodcom gia nhập ngành truyền thông với mong muốn xây dựng những bản sắc riêng biệt, tạo dựng chỗ đứng và phát triển trên cơ sở thỏa mãn nhu cầu khách hàng. Goodcom hiện nay đã là một phần của ngành truyền thông Việt Nam.</p>
            <p>Goodcom gia nhập ngành truyền thông với mong muốn xây dựng những bản sắc riêng biệt, tạo dựng chỗ đứng và phát triển trên cơ sở thỏa mãn nhu cầu khách hàng. Goodcom hiện nay đã là một phần của ngành truyền thông Việt Nam.</p>
            <p>Goodcom gia nhập ngành truyền thông với mong muốn xây dựng những bản sắc riêng biệt, tạo dựng chỗ đứng và phát triển trên cơ sở thỏa mãn nhu cầu khách hàng. Goodcom hiện nay đã là một phần của ngành truyền thông Việt Nam.</p>
        </div>
    </section>
</main>