<main>
    <div class="page_detail_article">
        <h4 class="category_title">Tin tức</h4>
        <h1 class="page_title">Tiêu đề bài viết</h1>
        <article class="detail">
            <img src="./assets/img/img-new1.jpg" alt="">
            <div class="des">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galleyLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            </div>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        </article>
        <div class="related_post">
            <h2 class="title">Bài viết liên quan</h2>
            <div class="related_list">
                <article>
                    <a href="" class="img-thumb"><img src="./assets/img/img-new1.jpg" alt=""></a>
                    <h3><a href="">Login Mobile Interface Illustrations</a></h3>
                    <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                </article>
                <article>
                    <a href="" class="img-thumb"><img src="./assets/img/img-new2.jpg" alt=""></a>
                    <h3><a href="">Login Mobile Interface Illustrations</a></h3>
                    <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                </article>
                <article>
                    <a href="" class="img-thumb"><img src="./assets/img/img-new1.jpg" alt=""></a>
                    <h3><a href="">Login Mobile Interface Illustrations</a></h3>
                    <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                </article>
                <article>
                    <a href="" class="img-thumb"><img src="./assets/img/img-new2.jpg" alt=""></a>
                    <h3><a href="">Login Mobile Interface Illustrations</a></h3>
                    <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                </article>
            </div>
        </div>
    </div>
</main>