<main>
    <div class="news_page container-fluid">
        <h4 class="category_title">Tin tức</h4>
        <div class="header flex">
            <h2 class="page_title">Các tin tức</h2>
            <ul class="nav tab_news flex">
                <li><a href="#all" title="Tất cả" data-toggle="tab" class="active">Tất cả</a></li>
                <li><a href="#tinnganh" title="" data-toggle="tab">Tin ngành</a></li>
                <li><a href="#tinnoibo" title="" data-toggle="tab">Tin nội bộ</a></li>
                <li><a href="#tinkhac" title="" data-toggle="tab">Tin khác</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="all">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <a href="" class="img-thumb"><img src="./assets/img/img-new1.jpg" alt=""></a>
                        <h3><a href="">Login Mobile Interface Illustrations</a></h3>
                        <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="" class="img-thumb"><img src="./assets/img/img-new2.jpg" alt=""></a>
                        <h3><a href="">Login Mobile Interface Illustrations</a></h3>
                        <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="" class="img-thumb"><img src="./assets/img/img-new3.jpg" alt=""></a>
                        <h3><a href="">Login Mobile Interface Illustrations</a></h3>
                        <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="" class="img-thumb"><img src="./assets/img/img-new2.jpg" alt=""></a>
                        <h3><a href="">Login Mobile Interface Illustrations</a></h3>
                        <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                    </div>
                </div>
                <ul class="pagination">
                    <li class="page-item"><a href="#"><i class="icon-prev"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a href="#"><i class="icon-next"></i></a></li>
                </ul>
            </div>
            <div class="tab-pane fade" id="tinnganh">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <a href="" class="img-thumb"><img src="./assets/img/img-new1.jpg" alt=""></a>
                        <h3><a href="">Login Mobile Interface Illustrations</a></h3>
                        <p>Increase sales by showing true dynamics of your website. Build your online store’s trust using Social Proof & Urgency for your business.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>