<main>
    <section class="banner pr">
        <img src="./assets/img/banner1.png" alt="">
        <div class="banner_content">
            <h1>Goodcom Media</h1>
            <p>xây dựng những bản sắc riêng</p>
        </div>
    </section>
    <section class="goodcom_price">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="categories">
                        <h3 class="title">CATEGORIES</h3>
                        <ul class="categories_menu nav">
                            <li><a href="#radio" title="Radio" data-toggle="tab" class="active">Radio</a></li>
                            <li><a href="#digital" title="Digital" data-toggle="tab">Digital</a></li>
                            <li><a href="" title="Báo giá PR" data-toggle="tab">Báo giá PR</a></li>
                            <li><a href="" title="Báo giá quản lý fanpage" data-toggle="tab">Báo giá quản lý fanpage</a></li>
                            <li><a href="" title="Báo giá báo giấy, tạp chí" data-toggle="tab">Báo giá báo giấy, tạp chí</a></li>
                            <li><a href="" title="Mobile ads" data-toggle="tab">Mobile ads</a></li>
                            <li><a href="" title="Hình thức quảng cáo khác" data-toggle="tab">Hình thức quảng cáo khác</a></li>
                        </ul>
                    </div>
                    <div class="services">
                        <h3 class="title">CÁC DỊCH VỤ</h3>
                        <div class="services_list">
                            <article>
                                <a href="" class="img-thumb"><img src="./assets/img/img-cs1.jpg" alt=""></a>
                                <h4><a href="">Digital</a></h4>
                            </article>
                            <article>
                                <a href="" class="img-thumb"><img src="./assets/img/img-cs2.jpg" alt=""></a>
                                <h4><a href="">Radio</a></h4>
                            </article>
                            <article>
                                <a href="" class="img-thumb"><img src="./assets/img/img-cs3.jpg" alt=""></a>
                                <h4><a href="">Báo giá PR</a></h4>
                            </article>
                            <article>
                                <a href="" class="img-thumb"><img src="./assets/img/img-cs4.jpg" alt=""></a>
                                <h4><a href="">Mobile ads</a></h4>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="radio">
                            <h2 class="title">Báo giá Radio</h2>
                        </div>
                        <div class="tab-pane fade" id="digital">
                            <h2 class="title">Báo giá Digital</h2>
                            <p>GOODCOM VIETNAM MEDIA.,LTD xin gửi tới quý khách hàng báo giá chi tiết quảng cáo trên các báo online. Mọi vẫn đề cần hỗ trợ vui lòng liên lạc với các hỗ trợ viên.</p>
                            <ul class="ads_list">
                                <li>
                                    <h5>Display Ads</h5>
                                    <time>Ngày cập nhật</time>
                                    <a href="javascript:;" title="" class="btn_view flex-center">Xem</a>
                                </li>
                                <li>
                                    <h5>Video Ads</h5>
                                    <time>Ngày cập nhật</time>
                                    <a href="javascript:;" title="" class="btn_view flex-center">Xem</a>
                                </li>
                                <li>
                                    <h5>Native Ads</h5>
                                    <time>Ngày cập nhật</time>
                                    <a href="javascript:;" title="" class="btn_view flex-center">Xem</a>
                                </li>
                                <li>
                                    <h5>Display Ads</h5>
                                    <time>Ngày cập nhật</time>
                                    <a href="javascript:;" title="" class="btn_view flex-center">Xem</a>
                                </li>
                                <li>
                                    <h5>Video Ads</h5>
                                    <time>Ngày cập nhật</time>
                                    <a href="javascript:;" title="" class="btn_view flex-center">Xem</a>
                                </li>
                                <li>
                                    <h5>Display Ads</h5>
                                    <time>Ngày cập nhật</time>
                                    <a href="javascript:;" title="" class="btn_view flex-center">Xem</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="popup-quotation">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <div class="box-img">
                    <img src="./assets/img/bang-gia-ghe-sofa.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</main>