:root{
  --red: #e54848;
  --gray: #f4f7fa;
}

@font-face {
  font-family: TimesNewRomanPS-BoldMT;
  src: url("#{$font-path}/TimesNewRomanPS-BoldMT.otf");
}
@font-face {
  font-family: TimesNewRomanPSMT;
  src: url("#{$font-path}/TimesNewRomanPSMT.ttf");
}
body{
  font-family: "Times New Roman", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}
.navbar{
  width: 100%;
  padding: vw(60px) vw(50px) vw(60px) vw(100px);
  position: absolute; top: 0; left: 0; z-index: 90;
  .logo{display: block; width: vw(256px);}
  .language{
    margin-left: vw(30px);
    a{padding: 0 2px; font-size: vw(23px); font-weight: 700; color: #fff; line-height: 1;}
    a.active{color: var(--red);}
    >*+*{border-left: 1px solid var(--red);}
  }
  .show-menu:before{
    content: "";
    border-width: vw(9px);
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    position: absolute; top: vw(28px); right: vw(-15px);
  }
}
.navbar-nav{
  > li{margin: 0 vw(20px); padding: 10px vw(10px); position: relative;}
  > li > a{color: #fff; font-size: vw(35px); line-height: 1; transition: .25s;}
  > li > a:hover{color: #f2f2f2;}
  > li:hover .sub-menu{opacity: 1; visibility: visible; z-index: 9;}
  .sub-menu{
    width: vw(265px);
    position: absolute; top: vw(55px);
    opacity: 0; visibility: hidden; z-index: -1;
    transition: all .25s ease;
    >*+*{margin-top: 7px;}
    a:hover{color: #ab3131;}
    a{
      width: 100%; display: block;
      padding: vw(4px) 10px; background: #c6e6fd;
      border-radius: 10px; font-size: vw(25px);
      font-weight: 700; color: var(--red);
      transition: .25s;
    }
  }
}
.banner{
  color: #fff;
  &_content{width: 100%; height: 100%; padding: vw(505px) 0 0 vw(145px); position: absolute; top: 0; left: 0;}
  h1{font-size: vw(111px); line-height: 1.05;}
  p{padding: 0 vw(12px); font-size: vw(60px); line-height: 1; animation-delay: .5s;}
}
.intro{
  margin-top: vw(115px);
  background: var(--gray);
  padding-top: vw(50px); padding-bottom: vw(60px);
  h4{margin-bottom: vw(50px); font-size: vw(60px);}
  p{color: #808080; font-size: vw(36px); line-height: 1.2;}
  .content{padding: vw(125px) vw(0px) 0 0;}
  .btn_more{
    width: vw(238px); height: vw(77px);
    margin-top: vw(115px); border-radius: 8px;
    background: #e64646; color: #fff; font-size: vw(31px);
    transition: .25s;
    &:hover{background: #ca3434;}
  }
}
.statistical{
  justify-content: flex-end;
  animation-delay: 1s;
  li{
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    width: vw(338px); height: vw(310px);
    background: #e64646;
    border-radius: 8px;
    color: #fff;
  }
  .icon{display: block; margin-bottom: vw(25px);}
  .icon-medal{width: vw(55px); height: vw(89px); background: url("#{$img-path}/icon-medal.png") no-repeat 0 0/contain;}
  .icon-headphone{width: vw(80px); height: vw(70px); background: url("#{$img-path}/icon-headphone.png") no-repeat 0 0/contain;}
  .icon-cup{width: vw(75px); height: vw(75px); background: url("#{$img-path}/icon-cup.png") no-repeat 0 0/contain;}
  .icon-user{width: vw(85px); height: vw(87px); background: url("#{$img-path}/icon-user.png") no-repeat 0 0/contain;}
  li:nth-child(2),li:nth-child(3){ background: #c7e7fd; color: #00438b;}
  li:nth-child(even){margin: vw(33px) 0 vw(17px) vw(26px);}
  h5{margin-bottom: 0; font-size: vw(51px); line-height: 1;}
  span{display: block; font-size: vw(22px);}
}
.service{
  h3{margin: vw(25px) 0 vw(10px);}
  h3 a{color: #4d4d4d; font-size: 29px; transition: .25s;}
  h3 a:hover{color: var(--red);}
  p{color: #666; font-size: 14px; line-height: 1.3;}
  .btn_more{
    display: flex; align-items: center; margin-top: 18px; color: #c00001;
    &:after{
      content: "";
      width: 13px; height: 12px; display: block; margin-left: 8px;
      background: url("#{$img-path}/arrow2.png") no-repeat; transition: all .25s ease;
    }
    &:hover:after{margin-left: 12px;}
  }
  .img-thumb{padding-bottom: 65%;}
}
.service,.studies,.news{
  p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
.news,.studies{
  h3{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: var(--red);
    &:hover{color: #4d4d4d;}
  }
}
.quotation{
  h3{font-size: vw(34px); color: #4d4d4d; text-transform: uppercase; transition: .25s;}
  p{
    margin: 8px 0 18px; min-height: 54px; font-size: 14px; color: #666; line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  &_wrapper{padding-right: vw(255px);}
  .btn_download{
    width: 157px; height: 50px;
    border: 2px solid var(--red); font-size: 20px; color: var(--red);
    text-transform: uppercase; transition: all .25s ease;
  }
  .post{
    padding: 0 13px;
    position: relative;
    .content{
      padding: vw(36px) vw(30px) vw(33px) vw(100px);
      border: 4px solid #c6e6fd;
      position: relative;
      &:before{
        content: "";
        width: vw(55px); height: vw(55px); display: block;
        background: url("#{$img-path}/icon-book.png") no-repeat 0 0/contain;
        position: absolute; top: vw(44px); left: vw(30px);
      }
    }
    &:hover{
      background: #c6e6fd;
      .btn_download{background: var(--red); color: #fff;}
      h3{color: var(--red);}
    }
  }
  .slick-prev{display: none !important;}
  .slick-next{
    display: flex; align-items: center;
    border: none;
    background: none;
    position: absolute; right: vw(-255px); top: 50%; transform: translateY(-50%);
    font-size: vw(34px); color: #c00001; cursor: pointer;
    &:after{
      content: "";
      width: vw(52px); height: vw(88px); display: block; margin-left: vw(27px);
      background: url("#{$img-path}/arrow.png") no-repeat 0 0/contain;
    }
    &:focus{outline: none;}
  }
}
.studies{
  &_list{margin: 0 vw(-32px);}
  article{padding: 0 vw(32px); width: 25%;}
  .img-thumb{padding-bottom: 90%;}
  h3{margin-top: vw(22px);}
  h3 a{color: var(--red); font-size: vw(35px); transition: .25s;}
  h3 a:hover{color: #4d4d4d;}
  p{margin-top: 8px; font-size: vw(20px); color: #666; line-height: 1.3;}
}
.logo_slider{
  margin-top: vw(110px);
  padding-bottom: vw(80px);
  li{padding: 0 15px;}
  .slick-arrow{width: vw(50px); height: vw(84px); background: url("#{$img-path}/arrow1.png") no-repeat 0 0/contain; text-indent: -9999em;}
  .slick-prev{transform: translateY(-50%) rotate(180deg); left: vw(-104px);}
  .slick-next{right: vw(-104px);}
  .slick-track{display: flex; align-items: center;}
}
.recruitment{
  padding-top: vw(125px);
  border-top: 1px solid #cbcbcb;
  &_banner{width: 43.5%;}
  &_content{
    width: 56.5%;
    background: #c6e6fd;
    padding: vw(50px) vw(150px);
  }
  h4{margin-bottom: vw(65px); font-size: vw(50px); font-weight: 700;}
  &_list{
    >*+*{margin-top: vw(68px);}
  }
  li a{
    color: #000; font-size: vw(30px); flex: 1; line-height: 1.2;
    white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
  }
  li:hover a{color: var(--red);}
  li{display: flex; align-items: center;}
  li:before{
    content: "";
    width: vw(52px); height: vw(52px); display: block; margin-right: 14px;
    background: url("#{$img-path}/icon-td.png") no-repeat 0 0/contain;
  }
  .btn_viewmore{justify-content: flex-start; margin-top: vw(45px); line-height: 1;}
}
.news{
  .col-lg-4{padding: 0 vw(28px); margin-bottom: vw(56px);}
  .img-thumb{padding-bottom: 66%;}
  h3{margin: 20px 0 5px}
  h3 a{color: var(--red); font-size: vw(35px); transition: .25s;}
  h3 a:hover{color: #4d4d4d;}
  p{font-size: 17px; color: #666;}
}
.kols{
  .slick-slide{text-align: center;}
  .img-thumb{padding-bottom: 109%;}
  li{padding: 0 vw(100px);}
  h4{margin: 22px 0 8px; font-weight: 700; font-size: vw(39px); color: var(--red);}
  span{font-size: vw(21px); color: #000;}
  .slick-arrow{
    width: vw(50px); height: vw(84px);
    background: url("#{$img-path}/arrow.png") no-repeat 0 0/contain;
    top: 40%;
    text-indent: -9999em;
  }
  .slick-prev{transform: translateY(-50%) rotate(180deg);}
  .slick-next{right: 0;}
}

//category
.category{
  .navbar{padding: vw(40px) vw(50px) vw(40px) vw(100px); background: #85c0e5; position: relative;}
}
.vision{
  h2.title{flex-basis: 100%; text-transform: none;}
  &_banner{width: vw(446px);}
  &_content{
    width: calc(100% - 23.3vw); padding-left: vw(45px);
    p{margin-bottom: vw(45px); color: #4d4d4d; font-size: vw(36px); line-height: 1.2;}
  }
}
.news_page{
  margin-top: vw(80px);
  .category_title{padding: 0 vw(15px); margin-bottom: vw(10px);}
  .page_title{font-size: vw(70px);}
  .header{
    padding: 0 vw(15px);
    margin-bottom: vw(50px);
    align-items: center; justify-content: space-between;
  }
  .tab_news{
    li{margin: 0 vw(30px);}
    a{font-size: vw(35px); color: #000;}
    a.active{color: var(--red);}
  }
  .col-lg-4{padding: vw(30px) vw(30px);}
  .img-thumb{padding-bottom: 66%;}
  h3{margin: vw(33px) 0 vw(10px);}
  h3 a{font-size: vw(39px); color: #000; transition: .25s;}
  h3 a:hover{color: var(--red);}
  p{font-size: vw(19px); color: #666; line-height: 1.3;}
}
.contact{
  padding-bottom: vw(50px);
  background: #f8f8fa;
  &_info{
    width: calc(100vw - 50.6vw);
    padding: vw(80px) 0 0 vw(150px);
  }
  &_banner{width: vw(947px); padding: vw(25px) vw(45px) 0 0;}
  .info_list{
    margin-top: vw(75px);
    >*+*{margin-top: vw(45px);}
    li{display: flex; align-items: center;}
    p{line-height: 1.1;}
    a,p{color: #666; font-size: vw(30px);}
    span{display: block; margin-bottom: vw(15px); font-weight: 700; font-size: vw(35px); color: #000; line-height: 1;}
    .icon{width: vw(126px); height: vw(126px); margin-right: vw(28px);}
    .icon-address{background: url("#{$img-path}/icon-address.png") no-repeat 0 0/contain;}
    .icon-phone{background: url("#{$img-path}/icon-phone.png") no-repeat 0 0/contain;}
    .icon-email{background: url("#{$img-path}/icon-email.png") no-repeat 0 0/contain;}
  }
}
.feedback{
  padding: vw(80px) vw(150px) 0;
  &_form{
    width: vw(1220px); margin: vw(80px) auto 0;
    input,textarea{
      width: 100%; padding: 0 vw(40px);
      background: #c7e7fd; border: none;
      font-size: vw(30px); color: #4d4d4d;
      &:focus{outline: none;}
      &::placeholder{color: #4d4d4d;}
    }
    input{height: vw(70px);  border-radius: 9999px;}
    textarea{height: vw(300px); padding: vw(25px);  border-radius: 20px;}
  }
  .form-group{margin-bottom: vw(30px);}
  .btn_submit{
    width: vw(260px); height: vw(80px);
    margin: 0 auto; background: none;
    border: 3px solid #e64646;
    font-size: vw(32px); color: var(--red); text-transform: uppercase;
    transition: all .25s ease;
    &:hover{background: var(--red); color: #fff;}
  }
}
.page_detail_article{
  padding: vw(80px) vw(200px) 0;
  .page_title{margin-bottom: vw(40px);}
  .category_title{margin-bottom: 2px;}
  img{display: block; margin: 0 auto;}
  .detail{
    font-size: 20px;
    line-height: 1.4;
  }
  .des{font-weight: 700;}
}
.related_post{
  margin-top: vw(100px);
  h2.title{
    padding: 0 vw(28px);
    margin-bottom: vw(50px);
    font-weight: 700; font-size: vw(35px); color: var(--red); text-align: left;
    text-transform: none;
  }
  article{padding: 0 vw(28px);}
  .img-thumb{padding-bottom: 66%;}
  h3{margin-top: vw(20px);}
  p{margin-top: .5rem;}
  h3 a{font-size: vw(35px); color: #000; transition: .25s;}
  h3 a:hover{color: var(--red);}
  p{font-size: 16px; color: #666; line-height: 1.2;}
  .slick-arrow{
    width: vw(52px); height: vw(88px);
    background: url("#{$img-path}/arrow.png") no-repeat 0 0/contain;
    top: 30%;
    text-indent: -9999em;
  }
  .slick-prev{transform: translateY(-50%) rotate(180deg); left: vw(-80px);}
  .slick-next{right: vw(-80px);}
}
.goodcom_price{
  margin-top: vw(100px);
  padding: 0 vw(150px);
  .container-fluid{padding: 0;}
  .title{margin-bottom: vw(20px); font-weight: 700; font-size: vw(30px); text-transform: uppercase;}
  .categories_menu{
    display: block;
    li{padding: vw(10px) 0;}
    >*+*{border-top: 1px solid var(--red);}
    a{display: block; font-size: vw(30px); color: var(--red); transition: .25s;}
    a:hover, a.active{color: #1b1464;}
    a.active{font-weight: 700;}
  }
  .services{
    margin-top: vw(120px);
    .title{margin-bottom: vw(30px);}
    &_list{
      >*+*{border-top: 1px solid var(--red);}
    }
    article{display: flex; align-items: center; padding: 10px 0;}
    h4{margin-top: 0; padding-left: vw(32px);}
    h4 a{font-size: vw(31px); color: var(--red);}
    .img-thumb{
      width: vw(142px); height: vw(130px);
      img{position: relative;}
    }
  }
  .tab-content{
    padding-left: vw(100px);
    h2.title{margin-bottom: vw(25px); text-align: left; font-size: vw(46px);}
  }
}
.ads_list{
  margin-top: vw(65px);
  li{
    display: flex; align-items: center;
    max-width: vw(840px); height: vw(99px); margin: -2px auto 2px;
    padding-left: vw(45px);
    background: #f2f2f2;
    box-shadow: inset 6px -3px 5px #acabab;
    position: relative;
  }
  h5{width: vw(240px); margin-bottom: 0; padding-right: 15px; font-size: vw(28px); font-weight: 700; color: var(--red);}
  time{
    display: flex; align-items: center; font-size: vw(22px); color: #333;
    &:before{content: ""; width: 7px; height: 7px; display: block; margin-right: 7px; background: #333;}
  }
  .btn_view{
    width: vw(172px); height: vw(99px);
    padding-left: vw(24px);
    background: url("#{$img-path}/btn_view.png") no-repeat 0 0/100% 100%;
    color: #fff; font-weight: 700; font-size: vw(22px);
    position: absolute; right: 0; top: 1px;
    &:hover{-webkit-filter: saturate(1.2); filter: saturate(1.2);}
  }
}

//popup
#popup-quotation{
  .modal-dialog{max-width: 800px;}
  .close{
    width: 30px; height: 30px;
    background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
    position: absolute; top: 10px; right: 10px; opacity: .9;
  }
}

//footer
footer{
  margin-top: 115px;
  padding: vw(75px) vw(200px);
  background: #c6e6fd;
  .logo{
    margin-bottom: vw(75px);
    width: vw(372px);
    a{display: block; padding-bottom: vw(14px); border-bottom: 1px solid #c00b10;}
    img{display: block; margin: 0 auto;}
    p{display: block; padding-top: 7px; color: #c00b10; font-weight: 700; text-align: center; font-size: vw(15px);}
  }
  .info{
    padding-right: vw(10px);
    >*+*{margin-top: vw(30px);}
    p,a{color: #808080; font-size: vw(26px);}
  }
  .menu_link{
    >*+*{margin-top: vw(15px);}
    a{font-size: vw(26px); color: var(--red);}
    a:hover{text-decoration: underline;}
  }
  .fanpage{
    margin-top: vw(65px); display: flex; justify-content: flex-end;
    .mobile{display: none;}
  }
  h4{margin: vw(65px) 0 vw(40px); font-weight: 700; color: var(--red); font-size: vw(32px);}
}

//uitkit
h2.title{
  display: block;
  margin-bottom: vw(50px);
  text-align: center;
  font-size: vw(50px); font-weight: 700;
  text-transform: uppercase;
  &.line{padding-bottom: vw(20px); border-bottom: 2px solid #dadada;}
  &.tc{text-transform: capitalize;}
}
.category_title{margin-bottom: vw(12px); font-size: vw(35px);}
.page_title,.des_title{
  font-size: vw(50px);
  font-weight: 700;
  color: #39455e;
}
.mt220{margin-top: vw(180px);}
.mt150{margin-top: vw(150px);}
a:hover{text-decoration: none;}
img{max-width: 100%;}
.pr{position: relative;}
.container-fluid{padding-left: vw(115px); padding-right: vw(115px);}
.container-news{padding: 0 vw(193px);}
.img-thumb{
  display: block; position: relative; overflow: hidden;
  img{width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover; transition: all 1s ease;}
  &:hover img{transform: scale(1.06);}
}
.btn_viewmore{
  display: flex; justify-content: center; align-items: center;
  margin-top: vw(70px);
  font-size: vw(40px); color: var(--red); line-height: 1;
  &:after{
    content: "";
    width: vw(32px); height: vw(30px); display: block; margin-left: vw(9px);
    background: url("#{$img-path}/arrow4.png") no-repeat 0 0/contain;
  }
  &:hover{
    color: #5f5f5f;
    &:after{ background: url("#{$img-path}/arrow3.png") no-repeat 0 0/contain;}
  }
}
.btn_submit{cursor: pointer;}
.slick-arrow{
  border: none;
  cursor: pointer;
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 9;
  &:focus{outline: none;}
  &.slick-disabled{display: none !important;}
}
.slick-slide{
  a:focus{outline: none;}
}
.navbar-modal{
  width: 100%;
  height: 100%;
  background: rgba(#92c5e4, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s;
  &.show{opacity: 1; visibility: visible; z-index: 2;}
}
.pagination{
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  .page-item{margin: 0 7px;}
  .page-link{
    width: 45px; height: 45px;
    padding: 0;
    background: var(--red);
    border-radius: 50%;
    color: #fff; font-weight: 700; font-size: 22px;
    text-align: center; line-height: 43px;
  }
  i{width: 26px; height: 44px; display: block; background: url("#{$img-path}/arrow.png") no-repeat 0 0/contain;}
  .icon-prev{transform: rotate(180deg);}
}



@media (max-width: 1366px) {
  .intro{
    p{line-height: 1.4;}
  }
  .quotation{
    .post{padding: 0 6px;}
    .btn_download{width: 140px; height: 45px; font-size: 18px;}
  }
}
@media (max-width: 1024px) {
  .logo_slider{
    .slick-prev{left: vw(-60px);}
    .slick-next{right: vw(-60px);}
  }
}
@media (max-width: 860px) {
  .navbar{
    padding: 10px 15px;
    .logo{width: vwm(180px); max-width: 120px;}
    .language{
      margin: 15px 0 0;
      a{font-size: 16px; color: #666;}
    }
    .show-menu{
      &:before{border-width: 5px; border-color: #666 transparent transparent transparent; top: 20px; right: 0;}
    }
    .close{width: 30px; height: 30px; background: url("#{$img-path}/close.png") no-repeat 0 0/contain; position: absolute; top: 15px; right: 15px; opacity: .9;}
  }
  .navbar-nav{
    > li{padding: 10px 0;}
    > li > a{font-size: 20px; color: #666;}
    > li.show .sub-menu{display: block; opacity: 1; visibility: visible;}
    .sub-menu{
      display: none;
      position: relative;
      width: auto;
      top: 5px;
      a{font-size: 15px; background: none;}
    }
  }
  .navbar-collapse{
    height: calc(100% - 0px);
    width: calc(100vw - 14vw);
    padding: 30px;
    background: #fff;
    position: fixed;
    left: calc(14vw - 100vw);
    top: 0;
    transition: all .5s ease;
    overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggler{padding: 0; border: none;}
  .service{
    h3{margin: 15px 0 10px;}
    h3 a{font-size: 19px;}
    .btn_more{margin-top: 10px;}
    .col-lg-3{margin-bottom: 30px;}
  }
  .quotation{
    .post{
      .content{padding: 15px 15px 15px 50px; border-width: 2px;}
      .content:before{
        width: 30px; height: 30px; top: 17px; left: 12px;
      }
    }
    .btn_download{width: 125px; height: 35px; font-size: 16px;}
    h3{font-size: 20px;}
  }
  .studies{
    h3{margin-top: 10px; font-size: inherit;}
    h3 a{font-size: 20px;}
    p{font-size: 14px; line-height: inherit;}
  }
  .recruitment{
    &_list > *+*{margin-top: 20px;}
    &_content{padding: 15px 30px;}
    h4{margin-bottom: 20px; font-size: 26px;}
    li a{font-size: 16px;}
    li:before{width: 20px; height: 20px;}
    .btn_viewmore{
      font-size: 18px;
      &:after{width: 15px; height: 14px;}
    }
  }
  .news{
    .col-lg-4{margin-bottom: 30px;}
    h3{margin: 15px 0 10px; font-size: inherit;}
    h3 a{font-size: 20px;}
  }
  .kols{
    h4{margin: 15px 0 5px; font-size: 20px;}
    span{font-size: 15px;}
  }
  .contact{
    .info_list{
      p,a{font-size: 14px; line-height: inherit;}
      span{font-size: 16px;}
      .icon{width: 30px; height: 30px;}
    }
  }
  .feedback{
    .form-group{margin-bottom: 15px;}
    &_form{
      width: 90%; margin-top: 30px;
      input{height: 35px;}
      textarea, input{padding: 0 15px; font-size: 16px;}
      textarea{height: 140px; padding: 10px 15px;}
    }
    .btn_submit{width: 120px; height: 40px; border-width: 2px; font-size: 18px;}
  }
  .goodcom_price{
    padding: 0 15px;
    .title{font-size: 20px;}
    .categories_menu{
      li{padding: 8px 0;}
      a{font-size: 14px;}
    }
    .services{
      .img-thumb{width: 60px; height: 55px;}
      h4 a{font-size: 14px;}
    }
  }
  .ads_list{
    li{width: 85%; max-width: 100%; height: 60px;}
    h5{font-size: 16px; width: 40%;}
    time{font-size: 14px;}
    .btn_view{height: 60px; width: 65px; font-size: 16px;}
  }
  .vision{
    p{font-size: 14px; line-height: 1.3;}
  }
  .news_page{
    margin-top: 30px;
    .header{padding: 0;}
    .category_title{margin-bottom: 5px;}
    .page_title{margin-bottom: 15px; font-size: 30px;}
    .tab_news{
      margin-bottom: 10px;
      a{font-size: 18px;}
    }
    .col-lg-4{padding: 15px;}
    h3{margin: 10px 0 5px; line-height: 1.3; font-size: inherit;}
    h3 a{font-size: 20px;}
    p{font-size: 14px;}
  }
  .page_detail_article{
    padding: 30px 15px;
    .detail{font-size: 16px;}
  }
  .related_post{
    padding: 0 15px;
    margin-top: 40px;
    h3{margin: 15px 0 10px; font-size: inherit;}
    h3 a{font-size: 20px;}
    p{font-size: 14px; line-height: inherit;}
    h2.title{margin-bottom: 20px; font-size: 20px;}
    .slick-next{right: vw(-65px);}
    .slick-prev{left: vw(-65px);}
  }
  #popup-quotation{
    .modal-dialog{padding: 0 .5rem;}
    .close{
      width: 20px; height: 20px;
      top: 5px; right: 5px;
    }
  }
  footer{
    padding: 15px;
    h4{font-size: 22px;}
    .logo{
      width: 210px;
      img{max-width: 80%;}
      a{padding-bottom: 10px;}
      p{font-size: 10px;}
    }
    .info{
      p,a{font-size: 14px;}
    }
    .menu_link{
      a{font-size: 14px;}
    }
    .fanpage{
      justify-content: center;
      .pc{display: none;}
      .mobile{display: block;}
    }
  }

  //uikit
  h2.title{
    margin-bottom: 30px;
    font-size: 26px;
    &.line{border-width: 1px; padding-bottom: 10px;}
  }
  .container-news{padding: 0 20px;}
  .container-fluid{padding-left: 15px; padding-right: 15px;}
  .btn_viewmore{
    margin-top: 40px;
    font-size: 28px;
    &:after{width: 20px; height: 19px; margin-left: 10px;}
  }
  .category_title{margin-bottom: 10px; font-size: 16px;}
  .page_title,.des_title{font-size: 22px;}
  .pagination{
    .page-item{margin: 0 7px;}
    .page-link{
      width: 30px; height: 30px;
      font-size: 18px; line-height: 28px;
    }
    i{width: 14px; height: 25px;}
  }
}
@media (max-width: 767px) {
  .banner{
    h1{margin-bottom: 10px;}
    &_content{padding-left: vw(120px);}
  }
  .intro{
    .content{padding-top: 0;}
    h4{font-size: 22px;}
    p{font-size: 14px; line-height: inherit;}
    .btn_more{
      width: 120px; height: 35px;
      font-size: 14px;
    }
  }
  .statistical{
    margin: 30px -10px 0;
    justify-content: center;
    li:nth-child(even){margin: 0 vwm(10px);}
    li:nth-child(2),li:nth-child(3){
      margin-top: 0;
    }
    li{
      width: vwm(162px); height: vwm(140px);
      margin: 0 vwm(10px);
    }
    h5{font-size: vwm(24px);}
    span{font-size: vwm(20px);}
  }
  .quotation{
    &_wrapper{padding-right: 70px;}
    .slick-next{
      font-size: 14px; right: -85px;
      &:after{width: 10px; height: 17px; margin-left: 5px;}
    }
  }
  .studies{
    article{width: 50%; padding: 10px;}
  }
  .logo_slider{
    margin-top: 40px; padding-bottom: 40px;
  }
  .kols{
    li{padding: 0 15px;}
    .slick-arrow{width: 16px; height: 27px;}
    .slick-next{right: -10px;}
    .slick-prev{left: -10px;}
  }
  .contact{
    &_info{width: 100%; padding: 30px 15px; position: relative; z-index: 9;}
    &_banner{position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
  }
  .goodcom_price{
    .tab-content{
      padding: 40px 0 0;
      h2.title{margin-bottom: 20px; font-size: 22px;}
    }
  }
  .ads_list{
    margin-top: 30px;
    li{width: 95%;}
  }
}

@media (max-width: 480px) {
  .recruitment{
    padding-top: 40px;
    &_banner,&_content{width: 100%;}
    &_content{
      height: calc(100% - 40px);
      position: absolute; top: 40px;
      background: rgba(#c6e6fd, .8);
    }
    .btn_viewmore{margin-top: 20px;}
  }
  .news{
    .col-lg-4{margin-bottom: 30px;}
  }
}

//js animation
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

